.root{
    width: 940px;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;

}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.text{
    width: 650px;
    text-align: center;
    margin-top: 40px;
}
.subtitle{
    font-size: 32px;

}
.btn{
    display: block;
    margin: 0 auto;
    width: 358px;
    height: 48px;
    padding: 8px 16px;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #000;
    background: #000;
    color: white;
    font-size: 18px;
    margin-top: 30px;
    cursor: pointer;
}
