.root{
    width: 940px;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;

}
.arrow{
    cursor: pointer;
}
.subtitle{
    font-size: 32px;
    font-weight: 700;
    margin-top: 15px;
}
.info{
    font-size: 16px;
    font-weight: 700;
    margin-top: 15px;
}
.text{
    font-size: 18px;
    margin-top: 25px;
}