.root{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.subtitle{
    font-family: Nunito;
    font-size: 32px;
    font-weight: 700;
}