.root{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.search{
    display: flex;
    gap: 15px;
    &__wrapper{
        position: relative;
    }
    &__input{
        display: flex;
        width: 293px;
        height: 25px;
        padding: 8px;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        border: 1px solid #000;
        background: #FFF;
        font-size: 16px;
        font-weight: 500;
        padding-left: 40px;
    }
}
.icon{
    opacity: 0.3;
    position: absolute;
    left: 8px;
    top: 10px;
}