.root{
    width: 940px;
    // display: flex;
    // flex-direction: column;
    margin: 0 auto;
    align-items: center;  
    padding-bottom: 20px;

}

.wrapper{
    display: flex;
    justify-content: center;
}